* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./imagens/capa.png), url(./imagens/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

header > .containerHeader {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 0.75rem;
  position: fixed;
  top: 0;
  z-index: 1;
}
.container {
  margin: 0 15%;
  display: flex;
}

.logo {
  width: 10rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
nav p {
  color: white;
}
.links {
  display: flex;
  gap: 0.5rem;
}
.carouselContainerWithArrow {
  display: flex;
  align-items: center;
  width: 100%;
}
.carouselContainerWithArrow button {
  width: 3rem;
  height: 4rem;
  font-size: 4rem;
  background: none;
  border: none;
}

.carouselContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  overflow: hidden;
}
.carouselElement {
  gap: 2rem;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselElement > h1 {
  font-size: 5rem;
  color: white;
}
.buttonsBuy {
  display: flex;
  gap: 0.25rem;
}
.buttonsBuy > a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.buttonsBuy > .free {
  background-color: #7c26f8;
}
.buttonsBuy > .premium {
  border: 0.125rem solid white;
}
button:hover {
  cursor: pointer;
}

.sectionWhite {
  background-color: white;
  padding: 1rem 0;
}

.containerGallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.containerGallery > div {
  flex: 1;
}

.containerGallery h1 {
  font-size: 2rem;
  color: #7c26f8;
}
.containerGallery h2 {
  font-size: 1.5rem;
  color: #7c26f8;
  margin: 0.5rem 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.img {
  flex: 1 1 40%;
}
.img img {
  width: 100%;
  height: auto;
}

.containerInfo {
  max-height: 100vh;
  display: flex;
  width: 100%;
}

.texts {
  flex: 1 1 35%;
}
.containerImgs {
  height: 100%;
  flex: 1 1 65%;
  max-width: 65%;
}

.imgs {
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  padding: 0 2rem;
  transform: rotate(30deg);
}

.imgs img {
  height: 100%;
  width: auto;
  display: flex;
}

footer {
  width: 100%;

  background-color: black;
  position: absolute;
}
footer > .container {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.rodape {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.rodape > div {
  display: flex;
  flex-direction: column;
}

.rodape img {
  width: 100px;
}
